script(type="text/x-template" id="component-timeline")
	include timeline-parameters.pug
	include timeline-milestones.pug
	include timeline-allocations.pug
	include timeline-tasks.pug
	include timeline-description.pug
	include timeline-summary.pug